In [2]:
num=[]

for i in range(1,101):
    if i%3==0:
        num.append(i)
print(num)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [3]:
[1 for each in range(10)]

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [5]:
[each for each in range(11)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
[each*each for each in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [11]:
[each for each in range(1,11) if each%2==0]

[2, 4, 6, 8, 10]

In [17]:
s=[['sai',70],['ram',30],['lakshmi',60]]
[each for each in s if (each[1])>=60]

[['sai', 70], ['lakshmi', 60]]

In [19]:
s=[['sai',70,1],['ram',30,2],['lakshmi',60,3]]
[each for each in s if (each[1]>=60 and each[2]<=1)]

[['sai', 70, 1]]

In [25]:
[each+item for each in range(4) for item in range(4)]

[0, 1, 2, 3, 1, 2, 3, 4, 2, 3, 4, 5, 3, 4, 5, 6]

In [35]:
[(x,y,z) for x in range(1,30) for y in range(x,30) for z in range(y,30) if x**2+y**2==z**2]

[(3, 4, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 15, 17),
 (9, 12, 15),
 (10, 24, 26),
 (12, 16, 20),
 (15, 20, 25),
 (20, 21, 29)]

In [1]:
[ str(dig1)+str(dig2) for dig1 in range(10) for dig2 in range(10)]

['00',
 '01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33',
 '34',
 '35',
 '36',
 '37',
 '38',
 '39',
 '40',
 '41',
 '42',
 '43',
 '44',
 '45',
 '46',
 '47',
 '48',
 '49',
 '50',
 '51',
 '52',
 '53',
 '54',
 '55',
 '56',
 '57',
 '58',
 '59',
 '60',
 '61',
 '62',
 '63',
 '64',
 '65',
 '66',
 '67',
 '68',
 '69',
 '70',
 '71',
 '72',
 '73',
 '74',
 '75',
 '76',
 '77',
 '78',
 '79',
 '80',
 '81',
 '82',
 '83',
 '84',
 '85',
 '86',
 '87',
 '88',
 '89',
 '90',
 '91',
 '92',
 '93',
 '94',
 '95',
 '96',
 '97',
 '98',
 '99']

In [1]:
squares={}
for each in range(1,11):
    squares[each]=each*each
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [2]:
{each:each*each for each in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [5]:
 {each:each*each for each in range(1,11) if each%2==0}

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [6]:
{ each:each*each if each%2==0 else each**3 for each in range(1,11) }

{1: 1, 2: 4, 3: 27, 4: 16, 5: 125, 6: 36, 7: 343, 8: 64, 9: 729, 10: 100}

In [5]:
names= ["sai", "ramu", "lakshmi"] 
grades = ['A', 'B', 'C'] 
  
students = {} 
for key in names: 
    for value in grades: 
        students[key] = value 
        grades.remove(value) 
        break  
print (str(students))

{'sai': 'A', 'ramu': 'B', 'lakshmi': 'C'}

In [28]:
students =[["sai",30,40], ["lakshmi",100,30], ["ramu",50,60]] 
removeIndex=1
for student in students:
    student.insert(0,student.pop(removeIndex))
students.sort()
for student in students:
    student.insert(removeIndex,student.pop(0))
print(students)

[['sai', 30, 40], ['ramu', 50, 60], ['lakshmi', 100, 30]]

In [31]:
square = lambda x:x*x

In [32]:
square(4)

16

In [40]:
fun =lambda x:x

In [41]:
a=10
fun(a)

10

In [47]:
fun =lambda x,y:(x,y)

In [48]:
fun(10,20)

(10, 20)

In [7]:
students =[["sai",30,40], ["lakshmi",100,30], ["ramu",50,60]] 
students.sort(key=lambda x:x[2])
students

[['lakshmi', 100, 30], ['sai', 30, 40], ['ramu', 50, 60]]

In [57]:
n=['10','30','60']
r=map(int,n)
list(r)

[10, 30, 60]

In [64]:
marks=['10','30','60']
r=map(lambda x:int(x)+30,marks)
list(r)

[40, 60, 90]

In [68]:
marks=[10,0,60,100]
all(marks)

False

In [69]:
any(marks)

True

In [76]:
s=filter(None,marks)
list(s)

[10, 60, 100]

In [77]:
students=[
    ['sai',{'maths':30,'english':50}],
    ['ram',{'english':100,'maths':100}],
    ['roja',{'maths':50,'english':40}]
]
students.sort(key=lambda x:x[1]['maths'])
students

[['sai', {'maths': 30, 'english': 50}],
 ['roja', {'maths': 50, 'english': 40}],
 ['ram', {'english': 100, 'maths': 100}]]