In [1]:
import pandas as pd

In [5]:
animals=['Tiger','Bear','Moose']
s=pd.Series(animals)
s

0    Tiger
1     Bear
2    Moose
dtype: object

In [4]:
s.index

RangeIndex(start=0, stop=3, step=1)

In [7]:
print(s.name)

None

In [8]:
s.name='Animals'

In [9]:
s.name

'Animals'

In [10]:
s

0    Tiger
1     Bear
2    Moose
Name: Animals, dtype: object

In [11]:
n=[1,2,None]
pd.Series(n)

0    1.0
1    2.0
2    NaN
dtype: float64

In [12]:
 import numpy as np
np.nan==None

False

In [15]:
sports={'Archery':'Bhutan',
        'Golf':'Scotland',
        'Sumo':'Japan',
        'Taekwondo':'South Korea'}
s=pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [16]:
s.index

Index(['Archery', 'Golf', 'Sumo', 'Taekwondo'], dtype='object')

In [17]:
s=pd.Series(['Tiger','Bear','Mouse'],index=['India','America','Canada'])
s

India      Tiger
America     Bear
Canada     Mouse
dtype: object

In [18]:
ports={'Archery':'Bhutan',
        'Golf':'Scotland',
        'Sumo':'Japan',
        'Taekwondo':'South Korea'}
s=pd.Series(sports,index=['Golf','Taekwondo','Cricket'])
s

Golf            Scotland
Taekwondo    South Korea
Cricket              NaN
dtype: object

In [19]:
ports={'Archery':'Bhutan',
        'Golf':'Scotland',
        'Sumo':'Japan',
        'Taekwondo':'South Korea'}
s=pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [22]:
s.iloc[0]

'Bhutan'

In [32]:
s.loc['Sumo']

'Japan'

In [34]:
sports={99:'Bhutan',
        100:'Scotland',
        101:'Japan',
        102:'South Korea'}
s=pd.Series(sports)1
s

99          Bhutan
100       Scotland
101          Japan
102    South Korea
dtype: object

In [40]:
s.iloc[3]

'South Korea'

In [44]:
s.loc[102]

'South Korea'

In [45]:
s=pd.Series([100.00,120.00,101.00,3.00])
s

0    100.0
1    120.0
2    101.0
3      3.0
dtype: float64

In [46]:
for each in s:
    print(each)

100.0
120.0
101.0
3.0

In [47]:
t=0
for item in s:
    t+=item
print(t)

324.0

In [49]:
import numpy as np
t=np.sum(s)
print(t)

324.0

In [53]:
len(np.random.randint(0,1000,10000))

10000

In [58]:
s=pd.Series(np.random.randint(0,1000,10000))
s.head()

0    527
1    425
2    905
3    119
4    672
dtype: int32

In [63]:
%%timeit -n 5
sum(np.random.randint(0,1000,10000))

1.92 ms ± 495 µs per loop (mean ± std. dev. of 7 runs, 5 loops each)

In [64]:
%%timeit -n 5
t=np.sum(s)

242 µs ± 89.9 µs per loop (mean ± std. dev. of 7 runs, 5 loops each)

In [65]:
s.head()

0    527
1    425
2    905
3    119
4    672
dtype: int32

In [66]:
s+=2
s.head()

0    529
1    427
2    907
3    121
4    674
dtype: int32

In [67]:
for label,value in s.iteritems():
    s.set_value(label,value+2)
s.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

0    531
1    429
2    909
3    123
4    676
dtype: int32

In [69]:
s.set_value(0,600)
s.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  """Entry point for launching an IPython kernel.

0    600
1    429
2    909
3    123
4    676
dtype: int32

In [70]:
%%timeit -n 1
s=pd.Series(np.random.randint(0,1000,10000))
for label,value in s.iteritems():
    s.loc[label]=value+2

4.35 s ± 72 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [71]:
%%timeit -n 1
s=pd.Series(np.random.randint(0,1000,10000))
s+=2

698 µs ± 256 µs per loop (mean ± std. dev. of 7 runs, 1 loop each)